### Data Analysis Example
Chipotle Orders

In [54]:
import pandas as pd
import numpy as np
orders = pd.read_table('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/chipotle.tsv')
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [58]:
# Columns data types
orders.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [35]:
# Removing extra brackets brom choice_description
orders.choice_description.str.replace('[', '').str.replace(']', '')
pass

In [19]:
# Matrix size
orders.shape  # rows by comumns

(4622, 5)

In [37]:
# Total number of orders
print('The total number of orders is', len(orders.order_id))

The total number of orders is 4622

In [38]:
# Total number of clients
orders.groupby('order_id')
for row in orders.groupby('order_id'):
    pass
print('The total number of clients is', row[0])

The total number of clients is 1834

In [ ]:
# Each client ordered X dishes on average ...

In [68]:
# Groupby for future analysis
orders.groupby('order_id').quantity.sum()
pass

In [53]:
# How many dishes ordered a client no. 10? 
orders[orders.order_id == 10].quantity.sum()

2

In [49]:
# Filtering example: only clients who ordered 5 or more dishes
orders[orders.quantity >= 5]

,order_id,quantity,item_name,choice_description,item_price
2441,970,5,Bottled Water,NaN,$7.50
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25
3599,1443,7,Bottled Water,NaN,$10.50
3887,1559,8,Side of Chips,NaN,$13.52
4152,1660,10,Bottled Water,NaN,$15.00

In [59]:
# Choice description
orders.choice_description.describe()

count            3376
unique           1043
top       [Diet Coke]
freq              134
Name: choice_description, dtype: object

In [76]:
orders.choice_description.value_counts()
pass

In [96]:
# Calculate total price paid by each customer
# 1. Convert prices from str to int
priceList = []
for price in orders.item_price: 
    if price[0] != '$' : continue
    price = float(price[1:])
    priceList.append(price)
    #print(price)
    #print(type(price)
orders['item_price'] = priceList

In [136]:
# How much did each client paid? 
# calculation and adding an additional column
paid = []
orders.quantity[0]*orders.item_price[0]
for ind in orders.index: 
    paid.append(orders.quantity[ind]*orders.item_price[ind])
orders['paid'] = paid
orders.head(10)

,order_id,quantity,item_name,choice_description,item_price,paid
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
6,3,1,Side of Chips,NaN,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25,9.25

In [137]:
# How much did each client paid on average? 
print('Each client paid on average', int(orders.groupby('order_id').sum().paid.mean()), '$')

Each client paid on average 21 $

In [166]:
# How much does each dish cost? 
orders.groupby('item_name').min().item_price
pass

In [168]:
# How many times each kind of dishes was ordered?
orders.groupby('item_name').sum().quantity
pass

In [169]:
# Total revenue 
totalDishesRevenue = orders.groupby('item_name').sum().quantity * orders.groupby('item_name').min().item_price
totalDishesRevenue.sum()

30252.629999999997

In [213]:
# The most popular dish
dishesQuantity = orders.groupby('item_name').sum().quantity
maxD = dishesQuantity.max()
maxD = 0 
count = 0
for i in dishesQuantity: 
    if maxD < i: 
        maxD=i
        dishM = dishesQuantity.index[count]
    count += 1

print('The most popular dish is', dishM, '. It was ordered', maxD, 'times')

The most popular dish is Chicken Bowl . It was ordered 761 times

In [216]:
orders.groupby('item_name').sum().quantity

item_name
6 Pack Soft Drink                         55
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            211
Bowl                                       4
Burrito                                    6
Canned Soda                              126
Canned Soft Drink                        351
Carnitas Bowl                             71
Carnitas Burrito                          60
Carnitas Crispy Tacos                      8
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             761
Chicken Burrito                          591
Chicken Crispy Tacos                      50
Chicken Salad                              9
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Chips                                    230
Chips and Fresh Tomato Salsa             130
Chips and Guacamole                      506
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        23
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     45
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo-Green Chili Salsa     33
Chips and Tomatillo-Red Chili Salsa       25
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          29
Salad                                      2
Side of Chips                            110
Steak Bowl                               221
Steak Burrito                            386
Steak Crispy Tacos                        36
Steak Salad                                4
Steak Salad Bowl                          31
Steak Soft Tacos                          56
Veggie Bowl                               87
Veggie Burrito                            97
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          8
Name: quantity, dtype: int64